@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap')
layer(base);

@import 'tailwindcss';

@config '../tailwind.config.js';

@theme {
  --font-cursive: 'Niconne', 'ui-cursive', 'cursive';
}

html {
  scroll-behavior: smooth;
}

/* hide or show if scrolled to the top */
html[data-scroll="true"] .scroll-show {
  opacity: 1;
}

html[data-scroll="true"] .scroll-hide {
  opacity: 0;
}
